//----- SKIN

body
  background-color: dark
  font-family: basic-font

.button
  background-color: light-dark
  color: light-green
  border: 0px solid transparent
  padding: 15px
  border-radius: 10px

.button:hover
  cursor: pointer

.mask
  background: light-gray
  opacity: 0.8
  color: dark
  font-weight: bold
  
.circle
  border-radius: 50%
  
.spinner
  width: spinerWidth
  height: spinerHeight
  background: light-green

.spinner-sm
  width: spinnerSmWidth
  height: spinnerSmHeight
  background: dark