 // ---- STRUCTURE
 
.l-center
  width: conatainerWidth
  height: conatainerHeight
  position: absolute
  left: 50%
  top: 50%
  margin-left: - (conatainerWidth/2)
  margin-top: - (conatainerHeight/2)
  background: transparent
  text-align: center

.l-center p
  margin-left: 10px
  
.l-mask
  width: 100%
  height: 100%
  z-index: 100
  position: absolute
  top: 0px
  left: 0px

.l-spinner
  margin-left: ((conatainerWidth - spinerWidth ) / 2)
  margin-top: ((conatainerHeight - spinerHeight ) / 2)
  
  
.l-spinner-sm
  left: 50%
  top: 50%
  position: absolute