// ----- VARIABLES

basic-font = 'Open Sans', sans-serif
dark = #3d3e42
light-green = #66cc99
light-gray = #eee
light-dark = #4a4e51

spinerWidth = 120px
spinerHeight = 120px

conatainerWidth = spinerWidth + 20
conatainerHeight = 200px

spinnerSmWidth = 1px
spinnerSmHeight = 1px

textWidth = 75px
textHeight = 50px